.search-form {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: 40px;
   margin-top: 50px;
}

.submitbtn {
   background-color: rgb(220, 53, 69); 
   color: white;
   border-radius: 5px;
   border: none;
   width: 120px;
   
}

#search {
   margin-left: 10px;
   padding: 15px;
   grid-column: 2/5;
   border-radius: 5px;
   border: 1px solid rgb(214, 220, 224)
}
